{% extends 'page.html.twig' %}

{% block contents %}
    <h1>Wypełnione Ankiety dla Definicji : {{ pollDefinition.name }}</h1>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Utworzono</th>
            <th>Zmodyfikowano</th>
            <th>Wypełniona</th>
            <th></th>
        </tr>
        {% for poll in pollList %}
            <tr>
                <td>{{ poll.id }}</td>
                <td>{{ poll.created|date('Y-m-d H:i') }}</td>
                <td>{{ poll.updated|date('Y-m-d H:i') }}</td>
                <td>
                    {%if(poll.completed)%}
                        Tak
                    {% else %}
                        Nie
                    {% endif %}
                </td>
                <td>
                    {%if not(poll.completed)%}
                        <a class="btn btn-default" href="{{ path('answer', {'poll': poll.id, 'position': poll.lastAnsweredQuestion }) }}" role="button">Wypełnij</a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path('poll_show', {'poll': poll.id }) }}" role="button">Wyświetl</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('poll_create', {'pollDefinition':pollDefinition.id}) }}" role="button">Dodaj</a>
    <a class="btn btn-default" href="{{ path('pollDefinition') }}" role="button">Powrót</a>
{% endblock %}