{% extends 'page.html.twig' %}

{% block contents %}
    {% if offerList.empty %}
        <h1>Brak ofert dla tej definicji ankiety</h1>
    {% else %}
        <h1>Oferty dla Definicji Ankiety: {{ pollDefinition.name }}</h1>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Nazwa</th>
                <th>Definicja Ankiety</th>
                <th>Stworzono</th>
                <th>Zmodyfikowano</th>
                <th>Zatwierdzona</th>
                <th></th>
            </tr>

            {% for offer in offerList %}
                {% if not offer.inactivated or (not offer.inactivated and offer.seald and is_granted('ROLE_POLLSTER')) %}
                    <tr>
                        <td>{{ offer.offerName }}</td>
                        <td>{{ offer.pollDefinition.name }}</td>
                        <td>{{ offer.created|date('Y-m-d H:i') }}</td>
                        <td>{{ offer.updated|date('Y-m-d H:i') }}</td>
                        {% if offer.sealed %}
                            <td>Tak</td>
                        {% else %}
                            <td>Nie</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-default" href="{{ path('offer_show', {'id': offer.id}) }}" role="button">Wyświetl</a>
                            {% if not offer.sealed and is_granted('ROLE_EMPLOYER')%}
                                <a class="btn btn-default" href="{{ path('offer_edit', {'id': offer.id}) }}" role="button">Edytuj</a>
                                <a class="btn btn-default" href="{{ path('offer_inactivate', {'offer': offer.id}) }}" role="button">Usuń</a>
                                <a class="btn btn-default" href="{{ path('offer_seal', {'offer': offer.id}) }}" role="button">Zatwierdź</a>
                            {% endif %}
                            {#<a class="btn btn-default" href="{{ path('questionDefinition', {'pollDefinition': pollDefinition.id}) }}" role="button">Przejdź do pytań</a>#}
                            {#&#123;&#35;<button class="btn btn-default" type="submit">Usuń</button>&#35;&#125;#}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if is_granted('ROLE_EMPLOYER') %}
        <a class="btn btn-default" href="{{ path('offer_create', {'pollDefinition': pollDefinition.id}) }}" role="button">Dodaj</a>
        <a class="btn btn-default" href="{{ path('pollDefinition') }}" role="button">Powrót</a>
    {% elseif is_granted('ROLE_POLLSTER') %}
        <a class="btn btn-default" href="{{ path('offer') }}" role="button">Powrót</a>
    {% endif %}

{% endblock %}