{% extends 'page.html.twig' %}

{% block contents %}

    <h1>Definicje Ankiet</h1>
    {{ form(form) }}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                {#<th>Ilość ofert</th>#}
                <th></th>
            </tr>
            {% for pollDefinition in pollDefinitionList %}
                {% if not (pollDefinition.inactivated) %}
                    <tr>
                        <td>{{ pollDefinition.id }}</td>
                        <td>{{ pollDefinition.name }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('pollDefinition_show', {'id': pollDefinition.id}) }}" role="button">Wyświetl</a>
                            {% for offer in pollDefinition.offers %}
                                {% if offer.deals.count == 0 %}
                                    <a class="btn btn-default" href="{{ path('pollDefinition_edit', {'id': pollDefinition.id}) }}" role="button">Edytuj</a>
                                {% endif %}
                            {% endfor %}
                            <a class="btn btn-default" href="{{ path('questionDefinition', {'pollDefinition': pollDefinition.id}) }}" role="button">Przejdź do pytań</a>
                            <a class="btn btn-default" href="{{ path('pollDefinition_inactivate', {'pollDefinition': pollDefinition.id}) }}" role="button">Usuń</a>
                            <a class="btn btn-default" href="{{ path('show_for_pollDefinition_offer', {'pollDefinition': pollDefinition.id}) }}" role="button">Przejdź do ofert</a>
                            <a class="btn btn-default" href="{{ path('offer_create', {'pollDefinition': pollDefinition.id}) }}" role="button">Dodaj ofertę</a>
                            <a class="btn btn-default" href="{{ path('poll', {'pollDefinition': pollDefinition.id}) }}" role="button">Przejdź do ankiet</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ path('pollDefinition_create') }}" role="button">Dodaj</a>

{% endblock %}